.header_cittadino {
  width: 100%;
  background: var(--green);
  color: white;
  padding: 6px clamp(8px, 4vw, 24px); /* padding che non rompe nulla */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.user {
  font-size: 18px;
  font-weight: 500;
}
.logout img{
    width: 22px;
    height: 22px;
}
