:root{
  --green: #007a52;
  --bg: #f9fafc;
  --card-shadow: 0px 2px 12px 1px rgba(0,0,0,0.12);
  --rounded: 12px;
  --font-based: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
.dashboard_cittadino {
  max-width: 100%;
  overflow-x: hidden;
}
.cards_row{
  display: flex;
  gap: 16px;
  padding-bottom: 8px;
  flex-wrap: wrap; 
  max-width: 100%;
}
.card_cliccabile{
  cursor: pointer;
  box-shadow: var(--card-shadow);
  border-radius: var(--rounded);
  background: #FFF;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 250px;
  height: 160px;
  box-sizing: border-box;
}
.card_cliccabile:hover{
  box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.16);
}