.mostra_votazione{
    width: 240px;
    height: 220px;
    border-radius: 20px;
    border: 0.7px solid rgba(0, 0, 0, 0.70);
    background: #FFF;
    font-family: var(--font-based);
    padding:26px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    box-shadow:0px 2px 12px 1px rgba(0,0,0,0.08);
}
.mostra_votazione_footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.btn_vota{
    width: 80px;
    height: 30px;
    background: var(--green);
    border-radius: 8px;
    border: none;
    color: #FFF;
    font-family: var(--font-based);
    cursor: pointer;
}
.btn_vota:hover{
    background: #005d3e;
}
.titolo_votazione{
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin:0;
}
.termine{
    font-size: 14px;
}